*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.text{
    position: relative;
    color:white;
    text-align: center;
    transition: 0.5s;
}
.btn{
    position: relative;
    background-color: #EFF774;
    padding: 20px;
    width:250px;
    border-radius: 30px;
    border:none;
    outline: none;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color:white;
    position: absolute;
    background-image: url("../Graphics/background.jpg");
    top:0;
    bottom: 0;
    left:0;
    right:0;
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
}
.form-container{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    left: 0;
    right: 0;
    z-index: 10;
    background-color: white;
    height: 100%;
    transition: 0.5s;
    border-radius: 50px;
}
.form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
span{
    margin-right: 10px;
}
.inpL{
    border: none;
    font-size: 20px;
    border-bottom: 1px solid grey;
    margin-bottom: 60px;
    outline: none;
}
.main-container{
    margin:0;
    padding: 10px;
    width: 100%;
    min-height: 100vh;
}
.main-name-container{
    display: flex;
}
.main-logout{
    position: absolute;
    left: 90%;
    color:black;
}
.flip-card {
    background-color: transparent;
    min-width: 300px;
    height: 170px;
    perspective: 1000px;
    margin-top: 18px;
  }

  .main-heading{
    white-space:nowrap;
    overflow:hidden;
    margin-top: 5px;
}
  
  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    color: white;
  }
  
  .center{
    display: inline-block;
}
.center-container{
  text-align: center;
}

  .flip-card-back {
    background-color: #2980b9;
    color: white;
    transform: rotateX(180deg);
  }
  .progress-bar{
      display: flex;
      position: relative;
      margin:auto;
      width: 260px;
      padding: 2px 0px 4px 0px;
  }
.per{
    position: relative;
    top:60px;
}
.hours{
    display: flex;
    margin: 16px 0 8px 0;
}
.in-card-hours-detail{
    display: inline-block;
    margin-right: 18px;
}
.in-card-hours-detail:last-of-type {
    margin-right: 0;
}

.btn-container{
    display: flex;
    padding: 20px;
}
.day-order-container{
    display: flex;
    position: fixed;
    transition: 0.5s;
    justify-content: space-around;
    height: 80%;
}
.day-order{
    position: relative;
    margin-right: 10px;
    min-width: 300px;
    overflow: auto;
}
.img{
    display:'flex';
    justify-content:'center';
    align-content:'center';
    margin-left: auto;
}
.inline-block{
    display: inline-block;
}
.right{
    float: right;
}
.rating{
  color: #ffab00;
}
.percent{
    color: white;
    font-size: 18px;
    font-weight: 800;
}
.bold{
    font-weight: 600;
}
.medal {
    width: 28px;
    height: 28px;
}

@media only screen and (min-width: 600px) {
    .master-container{
        display:flex;
        flex-direction: row-reverse;
    }
    .form-container{
        position: relative;
        top:50%;
        right:0;
        bottom: 0;
        width: 50%;
        margin-top: 300px;
    }
    .container{
        right:50%;
    }
    .hide{
        display: none;
    }
  }

/* Store */
.store-head{
    margin: 18px 0 18px 0;
}
.theme-preview-card-c {
    width: 33.33%;
    height: 170px;
    padding: 4px;
    float: left;
}
.theme-preview-card{
    height: 100%;
    border: 1px solid #212121;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}

.palette-preview{
    height: 30px;
    padding-left: 4px;
    text-align: left;
}
.palette-head{
    margin-top: 6px;
}